body{
    margin:0;
    padding:0;
    min-height:100vh;
    background-image:url("Frame 7.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.login{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.logo img{
    width:611;
    height:auto;
    margin-bottom:47px;
}

.login-btn{
    width:140px;
    height:48px;
    border-radius:50px;
    font-size:22px;
    cursor:pointer;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg,#8EAAFE,#1CBFFA,#F8E29F,#FF538B) border-box;
    border:2px solid transparent;
}

.input-field{
    width:374px;
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:88px;
    align-items: end;
}

#user-id,
#password{
    width:374px;
    height:48px;
    text-align:center;
    font-size:22px;
    border-radius:50px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(90deg,#8EAAFE,#1CBFFA,#F8E29F,#FF538B) border-box;
    border:2px solid transparent;
}

.submit{
    display:flex;
    justify-content:center;
}

@media (max-width:768px){
    .logo img{
        width:260px;
    }

    .input-field,
    #user-id,
    #password{
        width:300px;
    }
}

@media (max-width:480px){
    .logo img{
        width:220px;
        margin-bottom:32px;
    }

    .input-field,
    #user-id,
    #password{
        width:90%;
        max-width:320px;
    }

    .login-btn{
        width:130px;
        font-size:20px;
    }
}
