body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("Frame 7.png");
    background-size: cover;
    background-position: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo{
    padding-bottom: 47px;
}

.login-btn{
    width: 140px;
    height: 48px;
    border-radius: 50px;
    font-weight: 400;
    font-size: 22px;
    cursor: pointer;

    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            90deg,
            #8EAAFE,
            #1CBFFA,
            #F8E29F,
            #FF538B
        ) border-box;

    border: 2px solid transparent;
}

.logo-2{
    padding-bottom: 84px;
}

.input-field{
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 111px;
    margin-bottom: 88px;
}

#user-id{
    width: 374px;
    height: 48px;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    border-radius: 50px;
    margin-bottom: 15px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            90deg,
            #8EAAFE,
            #1CBFFA,
            #F8E29F,
            #FF538B
        ) border-box;

    border: 2px solid transparent;
}

#password{
    width: 374px;
    height: 48px;
    text-align: center;
    border-radius: 50px;
    font-weight: 400;
    font-size: 22px;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(
            90deg,
            #8EAAFE,
            #1CBFFA,
            #F8E29F,
            #FF538B
        ) border-box;

    border: 2px solid transparent;
}

.submit{
    display: flex;
    justify-content: center;
    text-align: center;
}